
.cursor {
    color: white!important;
    cursor: pointer!important;
}

* {
    text-decoration: none!important;
}

.fundo {
    height: 50px!important;    
    background: rgb(56, 182, 255)!important;
    background: linear-gradient(180deg, rgba(56, 182, 255, 1) 0%, rgba(0, 135, 193, 1) 0%, rgba(0, 212, 255, 1) 100%)!important;

}

.logo img {
    height: 60px!important;
}

.texto {
    color: white !important;
    height: auto!important;
    
}

.item {
    color: white !important;
}
