.cursor{
    color: white;
    cursor: pointer;
    
}

.fundo{
    height:50px;    
    background: rgb(56,182,255);
    background: linear-gradient(180deg, rgba(56,182,255,1) 0%, rgba(0,135,193,1) 0%, rgba(0,212,255,1) 100%);
    
}

.logo img{
    height: 60px;
}

.texto {
    color: white !important;
    height: auto!important;
}
.item{
    color: white !important;
}

.btnModal-logout { 
    border-color: transparent !important;
    background-color:transparent !important;
    font-family: 'Donau Uppercase', sans-serif!important;
    font-size: 16px !important;
    font-weight:bolder !important;
    font-style:normal !important;
    letter-spacing: 1px !important;
    text-align:center !important;
    border:ridge 0.5px transparent !important;
    background: transparent !important;
    color: white !important;
    transition:all 0.2s !important;
    text-transform:uppercase !important;;
}

