/* Estilos gerais */
.text-uppercase {
    text-transform: uppercase;
}

/* Container de sobrenós */
.container-sobrenos {
    text-align: center !important;
    margin-top:5% !important;
}

.titulo-aboutus {
    font-family: 'Donau Uppercase', sans-serif !important;
    color: rgb(56, 182, 255) !important;
    margin-bottom: 5% !important;
}

.card{
    min-height: 500px !important;
    margin: 20px !important;
    transition: all 0.3s;

}

.card-img {
    width: 50% !important;
    margin: auto;
  }
  
  .card-content {
    height: 100px!important
  }

  .card:hover {
    background-color: #f0f0f0; /* Altera a cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aplica um efeito de escala ao passar o mouse */
    box-shadow: 0 0 10px rgb(56, 182, 255) !important; /* Adiciona uma sombra sutil ao passar o mouse */
  }
 
.txt-home1 {
    font-family: 'Donau Uppercase', sans-serif !important;
    text-transform: uppercase;
    margin-right: 15% !important;
    margin-bottom: 5% !important;
}

/* Imagens da equipe */
.img-equipe {
    transition: all 0.5s;
    cursor: pointer;
}

.img-equipe:hover {
    transform: scale(1.2);
}

.brain {
    transition: all .5s;
}

.brain:hover {
    transform: rotateZ(-360deg) scale(1.5);
}

/* Container de contato */
.container-contato, .container-contato1 {
    text-align: center;
}

.titulo-contato {
    margin-top: 5% !important;
}

.box-contato {
    margin: 5%;
    text-align: center !important;
    border-radius: 1px !important;
    border: 2px solid rgba(0, 0, 0, .125);
    width: 30%;
    margin-bottom: 5%;
}

.form-contato {
    margin-top: 10%;
    margin-bottom: 15%;
}

.txt-area {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
}

.txtdark {
    color: black;
    margin-top: 1px !important;
}
